<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-wifiutils"
    version="0.1.4">
    <name>Wifiutils Plugin</name>
    <description>Cordova-Plugin for getting network interface Infos.</description>
    <keywords>ip-address, interface</keywords>
    <license>MIT</license>
    <repo>https://github.com/andischerer/cordova-plugin-wifiutils.git</repo>
    <issue>https://github.com/andischerer/cordova-plugin-wifiutils/issues</issue>

    <js-module src="www/wifiutils.js" name="wifiutils">
        <clobbers target="wifiutils" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WifiUtils" >
                <param name="android-package" value="org.apache.cordova.wifiutils.WifiUtils"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>
       <source-file src="src/android/WifiUtils.java" target-dir="src/org/apache/cordova/wifiutils/" />
    </platform>

</plugin>
